*{
    margin:0px;
    padding:0px;
    /* box-sizing:border-box; */
    font-family: 'Flamenco', cursive;
}
body{
    font-size: 20px;
    /* yahan pe aik fix kardia ha abaki jaga iske percentage dedenge take aik jaga yahan bad mn chabge
     karen or har jaga oski percentage ke hisab se change hojai */
    overflow-x: hidden;
    /* x axis pe overflow hidden isliye dia ha take content agr kahin div
     wagera kisi chz se ziada ho to hide hpjai */
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1484157239365-80e635261db7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat ;
}
.row{
    /* max-width: 1180px; */
    /* margin:0 auto; */
}
.clearfix:after{
    content:".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
/* clearfix after matlb load hone ke bad jab float use karte hain to oske oper 
chzn ajate hain onhe jhatane ke liye ham clearfix use karte 
hain bootstrap mn bhi likha hota ha par yahan humne custom bnaya ha  */
.logo{
    height:20px;
    width:auto;
    float:left;
    margin-top:60px;
    margin-left: 40px;
    color: crimson;

}

.main-nav{
    float:right;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}
.main-nav li a{
    padding: 5px 0px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;

}
.main-nav li a:hover{
    border-bottom: 2px solid #bf55ec;
}
.main-content-header{
    /* width:1180px; */
    position: absolute;
    top:40%;
    left:10%;
    transform: translate(0%,-50%);
}

h1{
    color:#fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}

.btn{
    display:inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.3s;
}

.btn-full{
    background-color: transparent;
    color:#bf55ec;
    margin-right: 15px;
    border: 1px solid #bf55ec;

}
.btn-nav{
    background-color: transparent;
    color:#fff;
    margin-right: 15px;
    border: 1px solid #fff;

}
.btn-full:hover{
    background-color: #fff;
}
.btn-nav:hover{
    background-color: #bf55ec;
}

.colorchange{
    animation: colorchangeofspan 1s infinite ;
}
.mobile-icon{
    display:none;
}

@keyframes colorchangeofspan{
     0%{color:red;}
     25%{color:#bf55ec;}
     50%{color:#fff}
     100%{color:#bf55ec}
    
}
@media only screen and (max-width:1180px){
    .main-content-header{
        width:100%;
        padding:0 2%;
    }
}

@media only screen and (max-width:998px){
    h1{
        font-size: 200%;
    }
}
@media only screen and (max-width:768px){
    h1{
        font-size: 180%;
    }
    .main-nav{
        display:none;
    }
    .mobile-icon{
        display:inline-block;
        color:#fff;
        float:right;
        margin-right: 20px;
        margin-top: 60px;
    }
    .main-nav{
        float:left;
        /* margin-top: 180px;
        border:2px red solid */
    
    }
    .main-nav li{
        display: block;
        margin-top: 10px;

    }
}
@media only screen and (max-width:480px){
    h1{
        margin-top: 20px;
        font-size: 160%;
    }
    .btn-full{
        margin-bottom: 20px;
    }

}